body {
	width: 100%;
	margin: 0;
}

header {
	height: 250px;
	border: 1px black solid;
	margin: 10px;
}

.flex-container-header {
	display: -webkit-flex;
	-webkit-justify-content: space-around; 
	-webkit-align-items: center;
	display: flex; /*отображает контейнер как блочный элемент*/
	justify-content: space-around;
	align-items: center;
}
.menu {
height: 40px;
width: 99%;
border: 2px solid black;
	text-align: center;

}

nav ul  {
	margin: 0;
	list-style-type: none;
	margin: 5px 20px 5px 20px;

}

nav ul li {
	display: inline-block;
	list-style-type: none;
	margin: 5px 20px 5px 20px;

}
nav ul li hover:{}

#column1 {
	border: 1px solid black;
	height: 200px;
	/*margin: 5px;*/
	/*background-color: red;*/
}

.aye {
	background-color: 
}

.zona {
	background-color: 
}

.zeki { 
	background-color:

}

.row {
	margin-top: 10px;
}
.denchik_xoxol {
	margin-top: 15px;
}
#Sasha:hover {
 	border-radius: 3px;
 	border:2px solid black;
}
#Sasha{
	border: 2px solid #DCDCDC;
	border-radius: 3px;
}
#kock {
	padding-left: 200px;
}

#BLOCK {
	width: 400px;
}